.card {
  margin: 10px 0 20px 0;
  padding-top: 20px;
  border: 1px solid #D8D8D8;
  border-bottom-width: 2px;
  border-top-width: 0;
  background-color: #fff;
  padding-top:10px;padding-bottom:20px;
}
.card .card-heading {
  padding: 0 20px;
  margin: 0;
}
.card .card-heading.simple {
  border-bottom: 1px solid #E5E5E5;
  color: #777;
  font-size: 20px;
  font-weight: 300;
}
.card .card-heading.image img {
  display: inline-block;
  vertical-align: top;
  border: 0;
  margin-right: 15px;
  width: 46px;
  height: 46px;
}
.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}
.card .card-heading.image .card-heading-header h3 {
  font-size: 14px;
  color: #262626;
  line-height: 16px;
  margin: 0;
}
.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999;
}
.card .card-body {
  margin-top: 20px;
  padding: 0 20px;
}
.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}
.card .card-media img {
  max-height: 100%;
  max-width: 100%;
}
.card .card-actions {
  min-height: 30px;
  margin: 20px 0 0 0;
  padding: 0 20px 20px 20px;
}
.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #F8F8F8;
}
.card .card-comments .comments-collapse-toggle {
  margin: 0 20px 12px 20px;
  padding: 0;
}
.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  padding-right: 5px;
}
.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}
.card.people {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
}
.card.people:first-child {
  margin-left: 0;
}
.card.people .card-top {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 170px;
  height: 150px;
}
.card.people .card-top.green {
  background-color: #53a93f;
}
.card.people .card-top.blue {
  background-color: #427fed;
}
.card.people .card-info {
  position: absolute;
  display: inline-block;
  top: 150px;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #fff;
}
.card.people .card-info .title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  color: #404040;
}
.card.people .card-info .desc {
  display: block;
  line-height: 16px;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  color: #737373;
  text-overflow: ellipsis;
}
.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  /*text-align: center;*/
}
.card.hovercard {
  overflow: hidden;
  position: relative;
  /*width: 240px;*/
  padding-top: 0;
  text-align: center;
  background-color: #fff;
}
.card.hovercard img {
  height: 135px;
  width: 100%;
}
.card.hovercard .avatar {
  margin-bottom: -50px;
  position: relative;
  top: -60px;
}
.card.hovercard .avatar img {
  width: 120px;
  height: 120px;
  max-width: 120px;
  max-height: 120px;
}
.card.hovercard .info {
  padding: 4px 8px 10px;
}
.card.hovercard .info .title {
  color: #262626;
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
  margin-bottom: 4px;
}
.card.hovercard .info .desc {
  color: #737373;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card.hovercard .bottom {
  text-align: left;
  margin-bottom: 17px;
  padding: 0 20px;
}